<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Generated Questions</title>
</head>
<body>
    <h1>Generated Questions</h1>
    <ul>
    {% for qa in qa_list %}
        <li>
            <strong>Question:</strong> {{ qa.question }}<br>
            <strong>Answer:</strong> {{ qa.answer }}
        </li>
    {% endfor %}
    </ul>
</body>
</html>
